@use "../../abstracts" as *;

.subscript {
  background-color: $color-primary;
  padding: 32px 20px;

  @include lg {
    padding: 18px 15px;
  }

  @include md {
    min-height: 182px;
    margin-top: -32px;
  }

  &__container {
    @extend %container;

    @include lg {
      width: min(100% - 10px, 1300px);
    }
  }

  &__form {
    display: grid;
    gap: 20px;
    width: 100%;

    // По умолчанию: "a1 a2 a3"
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a1 a2 a3";

    // Для md и меньше: "a1 a1" "a2 a3"
    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "a1 a1"
        "a2 a3";
    }

    // Назначаем области для элементов
    .subscript__input:first-child {
      grid-area: a1;
    }

    .subscript__input:nth-child(2) {
      grid-area: a2;
    }

    .subscript__button {
      grid-area: a3;
    }
  }

  &__input,
  &__button {
    background-color: #3c435d;
    color: #fff;
    border: none;
    border-bottom: 2px solid #a6a6a6;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

  &__input::placeholder {
    color: #ccc;
    font-size: 15px;
  }

  &__button {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}
