@use "../abstracts" as *;

.visually-hidden {
  @include visually-hidden;
}

.btn {
  &--primary {
    min-height: 60px;

    border-color: $color-primary;
    background-color: rgba($color-primary, 0.8);

    font-size: 1.125rem;

    @include sm-min {
      min-width: 350px;
    }
    @include sm {
      width: 100%;
    }
  }
}
