@use "../../abstracts" as *;

.footer {
  margin-top: 110px;
  // margin: 0;
  padding: 0;

  background-color: $color-primary;

  @include lg {
    margin-top: 85px;
  }
  @include md {
    margin-top: 60px;
  }

  &__container {
    padding: 47px 20px;

    text-align: center;

    @include md {
      padding: 62px 20px;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    margin-bottom: 20px;

    @include lg {
      margin-bottom: 30px;
    }

    .footer__icon {
      width: 30px;
      height: 30px;

      svg {
        width: 100%;
        height: 100%;

        transition: transform 0.3s ease;

        fill: $color-white;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &__line {
    width: 75px;
    height: 0;
    margin: 0 auto;
    margin-bottom: 30px;

    opacity: 1;
    border: 2px solid #ffffff;

    @include lg {
      // margin-bottom: 40px;
    }
  }

  &__text {
    margin: 0;
    padding: 0;

    text-align: center;
    letter-spacing: 0.1em;

    color: $color-gray;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 100;
    font-style: Thin;
    line-height: 20px;

    &-span {
      text-align: center;
      letter-spacing: 0.1em;

      color: $color-white;

      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      font-style: Bold;
      line-height: 20px;
    }

    &--accent {
      color: $color-white;

      font-weight: 700;
    }
  }
}
