@use "../../abstracts" as *;

.posts {
  background-color: $color-white;

  &__container {
    @extend %container;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-x2;
  }

  &__item {
    background-color: $color-gray-light2;
  }
}
