@use "../../abstracts" as *;

.header {
  position: relative;
  min-height: 100vh;
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  background-image: url(assets/images/img-header.png);
  background-position: center;
  background-size: cover;
}
