@use "../../abstracts" as *;

.header {
  position: relative;
  min-height: 100vh;
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  background-image: url(assets/images/img-header.png);
  background-position: center;
  background-size: cover;

  &__menu {
    position: relative;
    z-index: 2;
    padding: $gap 0;

    &-container {
      @extend %container;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    // пока пусто
  }

  &__logo-link {
    display: block;
    letter-spacing: 0.22em;
    font-size: 1.5rem;
  }

  &__logo-accent {
    display: inline-block;
    padding: 14px 1px 13px 5px;
    margin-right: 4px;
    border: solid 3px $color-highlight;
  }

  &__nav {
    margin-left: auto;
    &-list {
      display: flex;
      gap: $gap;
      @include unlist(0 (-$gap-sm) 0 0);
      @include md {
        display: none;
      }
    }

    &-item {
    }

    &-link {
      display: block;
      padding: $gap $gap-sm;
      letter-spacing: 0.09em;
      font-size: 18px;
      transition: color 0.3s;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: -$gap-x5; // Поднимаем блок вверх

    &-container {
      @extend %container;
    }

    &-title {
      margin: 0 0 53px 0;
      text-align: center;
    }

    &-actions {
      display: flex;
      justify-content: center;
      gap: $gap;
    }
  }

  &__btn {
    min-width: 250px;
    min-height: 60px;
    background-color: rgba($color-white, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 2px;
    border-color: $color-white;
    letter-spacing: 0.1em;
    font-size: 18px;
    padding: 0.5em 1em;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      background-color: $color-accent;
    }

    &--light {
    }

    &--primary {
    }
  }

  &__overlay {
    background-color: rgba($color-primary, 0.8);
    @include abs-position;
  }
}
