@use "../../abstracts" as *;

.header {
  position: relative;
  min-height: 100vh;
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  background-image: url(assets/images/img-header.png);
  background-position: center;
  background-size: cover;

  &__menu {
    position: relative;
    z-index: 2;
    padding: $gap 0;
    @include md {
      background-color: rgba($color-gray-dark, 0.25);
      @include box-shadow;
    }

    &-container {
      @extend %container;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    // пока пусто
  }

  &__logo-link {
    display: block;
    letter-spacing: 0.22em;
    font-size: 1.5rem;
  }

  &__logo-accent {
    display: inline-block;
    padding: 14px 1px 13px 5px;
    margin-right: 4px;
    border: solid 3px $color-highlight;
  }

  &__nav {
    margin-left: auto;

    &-btn {
      background: none;
      border: none;
      width: 30px;
      height: 22.5px;
      position: relative;
      margin: 25px auto;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      @include md-min {
        display: none;
      }

      &-row {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: $color-white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(even) {
          left: 50%;
          border-radius: 0 3px 3px 0;
        }

        &:nth-child(odd) {
          left: 0;
          border-radius: 3px 0 0 3px;
        }

        &:nth-child(1),
        &:nth-child(2) {
          top: 0;
        }

        &:nth-child(3),
        &:nth-child(4) {
          top: 9px;
        }

        &:nth-child(5),
        &:nth-child(6) {
          top: 18px;
        }
      }

      &.active {
        span {
          &:nth-child(1),
          &:nth-child(6) {
            transform: rotate(45deg);
          }

          &:nth-child(2),
          &:nth-child(5) {
            transform: rotate(-45deg);
          }

          &:nth-child(1) {
            left: 2.5px;
            top: 3.5px;
          }

          &:nth-child(2) {
            left: calc(50% - 2.5px);
            top: 3.5px;
          }

          &:nth-child(3) {
            left: -50%;
            opacity: 0;
          }

          &:nth-child(4) {
            left: 100%;
            opacity: 0;
          }

          &:nth-child(5) {
            left: 2.5px;
            top: 14.5px;
          }

          &:nth-child(6) {
            left: calc(50% - 2.5px);
            top: 14.5px;
          }
        }
      }
    }

    &-list {
      display: flex;
      gap: $gap;
      @include unlist(0 (-$gap-sm) 0 0);
      @include md {
        display: none;
      }
      &.active {
        display: block;
        background-color: red;
        position: absolute;
        top: 100%;
        right: $gap;
      }
    }

    &-item {
    }

    &-link {
      display: block;
      padding: $gap $gap-sm;
      letter-spacing: 0.09em;
      font-size: 18px;
      transition: color 0.3s;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: -$gap-x5; // Поднимаем блок вверх

    &-container {
      @extend %container;
    }

    &-title {
      margin: 0 0 53px 0;
      text-align: center;
    }

    &-actions {
      display: flex;
      justify-content: center;
      gap: $gap;
      @include sm {
        align-items: center;
        flex-direction: column;
      }
    }
  }

  &__overlay {
    background-color: rgba($color-primary, 0.8);
    @include abs-position;
  }
}
