@use "../../abstracts" as *;

.about {
  background-color: $color-gray-light;
  min-height: 652px;
  box-sizing: border-box;
  padding-top: 100px;

  @include lg {
    padding-top: 85px;
    min-height: 567px;
  }

  @include md {
    padding-top: 66px;
  }

  &__container {
    @extend %container;
    display: flex;
    @include lg {
      width: min(100% - $gap, $container-size);
    }
  }

  &__hero {
    max-width: 936px;

    &-title {
      margin-top: 0;
      margin-bottom: 50px;
      @include lg {
        margin-bottom: 36px;
      }

      .about__hero-subtitle {
        display: block;
      }
    }

    .about__hero-list {
      // margin-top: 54px;
    }

    &-decrtiption {
      font-family: Roboto;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.05em;
      // Убираем переносы слов
      word-break: normal;
      overflow-wrap: normal;

      @include lg {
        // letter-spacing: 0.02em;
      }

      // Ограничим только последний абзац
      &:last-of-type {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include lg {
          display: none;
        }
      }
    }
  }

  .about__hero-decrtiption--post2 {
    @include md {
      display: none;
    }
  }
  .about__hero-decrtiption--hide {
    @include lg {
      display: none;
    }
  }

  &__image {
    img {
      margin-left: 88px;
      margin-top: 4px;

      @include lg {
        margin-left: 75px;
        margin-top: -10px;
      }

      @include md {
        transform: scale(0.8);
        transform-origin: center;
        margin-top: -40px;
      }
    }
  }
}
