@use "../../abstracts" as *;

.about {
  background-color: $color-gray-light;
  padding-top: 100px;
  padding-bottom: 100px;

  min-height: 100vh;
  box-sizing: border-box;

  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center; // ⬅️ чтобы выровнять текст и картинку по вертикали
    gap: 1rem; // ⬅️ меньше отступ между колонками
    flex-grow: 1;
  }

  &__hero {
    flex: 1.8; // ⬅️ больше ширины для текста
    max-width: 100%;

    &-title {
      margin-top: 0;

      .about__hero-subtitle {
        display: block;
      }
    }

    .about__hero-list {
      margin-top: 54px;
    }

    &-decrtiption {
      font-family: Roboto;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.05em;

      // ❌ удаляем ограничение по ширине
      // max-width: 720px;
      word-break: break-word;
    }
  }

  &__image {
    flex: 0.7; // ⬅️ сжимаем колонку с изображением
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      margin-left: 88px;
    }
  }
}
