@use "../../abstracts" as *;

.about {
  background-color: $color-gray-light;

  &__container {
    @extend %container;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
  }

  &__hero {
    flex: 1;
    max-width: 80%;

    &-title {
      margin-top: 100px;

      // Добавляем стиль для подзаголовка
      .about__hero-subtitle {
        display: block;
      }
    }

    .about__hero-list {
      margin-top: 54px;
    }
    &-decrtiption {
      font-family: Roboto;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1em;
    }
  }

  &__image {
    // flex: 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    img {
      max-width: 100%;
      height: auto;
      margin-top: 100px;
    }
  }
}
